@using System.Collections.ObjectModel
@using System.Collections

@{
    var products = ViewData["Products"] as
        List<ProductsModel>;
}
<div class="container mt-4">
    <h2>Edit Products</h2>
    <table class="data-table table" id="oootable">
        <thead>
        <tr class="data-heading">
            @{
                //  ViewData["Products"]
                foreach (var prop in typeof(Supplier_MVC.Models.ProductsModel).GetProperties())
                {
                    <th>@string.Concat(prop.Name.Select(x => Char.IsUpper(x) ? " " + x : x.ToString())).TrimStart(' ')</th>
                }
            }

            <td>Actions</td>
            <td></td>

        </tr>

        </thead>
        <tbody>
        @{
            var properties = typeof(Supplier_MVC.Models.ProductsModel).GetProperties();
            if (products is { Count: > 0})
                foreach (var j in products)
                {
                    <tr>
                        @foreach (var i in properties)
                        {
                            <td>@i.GetValue(j, null)</td>
                        }
                        <td>
                            <button onclick="AddName('@j.Name', '@j.ProductId', '@j.Description', '@j.Unit')" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                        </td>
                        <td>
                            <button onclick="Delete('@j.Name', '@j.ProductId')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                        </td>
                    </tr>
                }
        }
        </tbody>
    </table>
    <button onclick="AddName(null, -1, null, null)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</button>
</div>

<script>
    function AddName(username, id, desc, unit) {
        document.getElementById("name").value = username;
        document.getElementById("description").value = desc;
        document.getElementById("unit").value = unit;
        document.getElementById("productId").value = id;
    }
    function Delete(username, id) {
        document.getElementById("productId_2").value = id;
    }
    let loaded = 0;
    function dummyLoaded() {
        if (loaded >= 1)
            location.reload();
        loaded++;
    }
</script>
<iframe onLoad="dummyLoaded()" name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form target="dummyframe" action="./add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Add / Edit Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @{
                        foreach (var j in properties.Where(x => !x.Name.ToLower().Contains("date") && !x.Name.ToLower().Contains("id") && !x.Name.ToLower().Contains("quantity")))
                        {
                            var lowered = j.Name.ToLower();
                            <div class="mb-3">
                                <label class="form-label">@string.Concat(j.Name.Select(x => Char.IsUpper(x) ? " " + x : x.ToString())).TrimStart(' ')</label>
                                <input id="@lowered" type="text" name="@lowered" class="form-control">
                            </div>
                        }
                    }
                    <input value="-1" id="productId" type="hidden" name="id" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form target="dummyframe" action="./remove" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Remove Item...?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input value="-1" id="productId_2" type="hidden" name="id" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#oootable').DataTable();
    });
</script>